.edit-tags {

  margin: 1rem 0;

  .tag-buttons {
    padding: 1.5rem;
    background-color: whitesmoke;
    border: 1px solid lightgray;
    border-radius: 10px;
    margin-bottom: 1rem;
    margin-top: 2rem;
  }
  .tag {
    margin: .5rem;
    font-size: small;
  }
  .btn {
    color: white;
  }
  .btn-red {
    background-color: #e73f47;
    border-color: #e73f47;
  }
  .btn-sky-blue {
    background-color: #3bc2dd;
    border-color: #3bc2dd;
  }
}
