<div class="form-group">
  <textarea class="form-control" rows="5" [(ngModel)]="tagsText"></textarea>
</div>
<p>Type tags (numbers only) here using comma, semicolon and line break as delimiters.</p>
<button class="btn btn-primary" (click)="submit()">Add tags</button>
